.wrap{
    display: flex;
}
.a{
    display: flex;
    flex-direction: column;
    gap:1rem;
    flex: 1;
}

.b{
    display: flex;
    flex-direction: column;
    gap:1rem;
    flex:1;
}

.x{

    color: #403f6e;
    font-weight:900;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif ;
}